/* universal styles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
    Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    color: #777777;
    margin: 0;
    background-image: url(/assets/images/webb.png);

}

/* header styles */

.header {
    margin: 0 auto;
    background-color: #ffffff; 
}

.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #ffffff;
    height: 6em;
    max-width: 960px;
}

.header .nameBox {
    /* background-color: orange; */
    width: 30%;
    color: #ffffff;
    background-color: #4aaaa5;
}

.header .nameBox .wrapper {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .linkBox {
    /* background-color: yellow; */
    width: 50%;
    position: relative;
}

#left {
    margin: 0 1.5em 0 0;
}

#middle {
    margin: 0 1.5em;
}

#right {
    margin: 0 0 0 1.5em;
}

.header .linkBox .wrapper {
    display: inline-block;
    top: 40%;
    float: right;
    position: relative;
}

.header a {
    text-decoration: none;
    margin: 20px;
    color: #939799;
    font-size: 1.2em;
}

/* end header styles */

/* general styles */

body hr {
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 50px auto 100px auto;
    background-color: white;
    border: 1px solid #dddddd;
}

.container .wrapper {
    padding: 10px 30px;
}

.container h2 {
    color: #4aaaa5;
    font-size: 35px;
}

#about-me img {
    height: 150px;
    float: left;
    clear: both;
    margin: 0 20px 0 0;
}

.container p {
    font-size: 20px;
    line-height: 1.5;
}

.container hr {
    margin-bottom: 25px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
}

#gallery .bkgd-img {
    height: 100%;
    width: 100%;
    background-image: url("/assets/images/deer.jpg");
    background-size: cover;
    position: relative;
}

.img-wrapper{
    overflow: hidden;
    width: 300px;
    height: 225px;
    margin: 25px 40px 25px 0;
}

.bkgd-img .banner {
    height: 60px;
    width: 100%;
    background-color: #4aaaa5;
    position: absolute;
    bottom: 10px;
}

.banner h3 {
    color: #ffffff;
    text-align: center;
    position: relative;
}

#gallery a {
    /* margin: 25px 40px 25px 0; */
}

#gallery .bkgd-img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#gallery .bkgd-img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* end general syles */

/* Contact syles */

.container form input{
    width: 100%;
}

form #name, #email {
    margin-bottom: 15px;
    margin-top: 5px;
    height: 20px;
}

form #message {
    margin-bottom:  15px;
    width: 100%;
    height: 150px;
}

form button {
    -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    height: 30px;
    width: 90px;
    margin-bottom: 15px;
}

/* end contact styles */

/* footer styles */

.footer {
    height: 3.5em;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 0;
    border-top: 8px solid #4aaaa5;
}

.footer p {
    position: relative;
    top: 35%;
    font-size: 10px;
}

/* end footer styles */