body {
    color: #777777;
    margin: 0;
    background-image: url(/assets/images/webb.png);

}

/* header styles */

.header {
    margin: 0 auto;
    background-color: #ffffff; 
}

.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #ffffff;
    height: 6em;
    max-width: 960px;
}

.header .nameBox {
    /* background-color: orange; */
    width: 30%;
    color: #ffffff;
    background-color: #4aaaa5;
}

.header .nameBox .wrapper {
    position: relative;
    display: inline-block;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.header .linkBox {
    /* background-color: yellow; */
    width: 50%;
    position: relative;
}

#left {
    margin: 0 1.5em 0 0;
}

#middle {
    margin: 0 1.5em;
}

#right {
    margin: 0 0 0 1.5em;
}

.header .linkBox .wrapper {
    display: inline-block;
    top: 50%;
    float: right;
    position: relative;
}

.header a {
    text-decoration: none;
    margin: 20px;
    color: #939799;
    font-size: 1.2em;
}

/* end header styles */

/* general styles */

body hr {
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 50px auto;
    background-color: white;
    border: 1px solid #dddddd;
}

.container .wrapper {
    padding: 10px 30px;
}

.container h2 {
    color: #4aaaa5;
    font-size: 35px;
}

#about-me img {
    height: 150px;
    float: left;
    clear: both;
    margin: 0 20px 0 0;
}

.container p {
    font-size: 20px;
    line-height: 1.5;
}

.container hr {
    margin-bottom: 25px;
}

#gallery img {
    width: 300px;
    margin: 25px 20px 25px 0;
}

/* end general syles */

/* Contact syles */

.container form input{
    width: 100%;
}

form #name, #email {
    margin-bottom: 15px;
    margin-top: 5px;
    height: 20px;
}

form #message {
    margin-bottom:  15px;
    width: 100%;
    height: 150px;
}

form button {
    -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    height: 25px;
    width: 75px;
}

/* end contact styles */

/* footer styles */

.footer {
    height: 3.5em;
    background-color: gray;
    color: white;
    text-align: center;
    margin: 0;
    border-top: 6px solid #4aaaa5;
}

.footer p {
    position: relative;
    top: 35%;
    font-size: 10px;
}

/* end footer styles */